html {
  scroll-behavior: smooth;
}


.Paragraph{
  font-family: raleway, sans-serif;
  text-align: center;
  color: black;
  font-size: 13px;
}
.Title{
  font-family: raleway, sans-serif;
}
.Video-Card{
  background-color: #fff;
  padding:  90px;
  margin-top: 30px;
  box-shadow: 0 0 5px 0 rgba(13, 206, 212, 0.2);
}
.Play-Button{
  position: inherit;
  font-size: 50px;
  color: #0073E6 ;
  cursor: pointer;
  position: absolute;


}