.Component-Title{
  font-family:  "Montserrat", sans-serif;
  
  color:#0073E6 ;
}
.Project-Card{
  width: 400px;
  border-radius: 2px;
  border: none !important;
  margin: 2px 2px 2px 2px;
  box-shadow: 0 0 4px 0 rgb(0, 115,230,0.2);

}

.Project-Card:hover{
  cursor: pointer;
    box-shadow: 0px 12px 30px 0px rgb(38, 37, 37);
    transform: scale(1.1,1.1);
    transition: all 800ms;

}

.Project-Card-Title{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 600;
}
.Project-Card-Description{
  font-family: 'Times New Roman', Times, serif;
  font-size: 22px;
  font-weight: 300;
  
}